<form method="post" action="{{ path('mesa_delete', {'id': mesa.id}) }}" onsubmit="return confirm('Seguro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mesa.id) }}">
    <div class="row justify-content-center">
    <button class="btn btn-danger">Borrar</button>
    </div>
</form>
