<div class="row justify-content-center">
{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form) }}
        <div class="container">
            <select class="image-picker" id="selector">
            </select>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.1/image-picker.min.js"></script>
        <script>
            $('.image-picker').imagepicker();
        </script>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
</div>
<script>
    var API_KEY = '12258560-0b5ffa46f4a308432e96b9e26';
    var selector = document.getElementById("selector");
    document.getElementById("mesa_nombre").onchange = function() {getImages()};
    function getImages(){
        var URL = "https://pixabay.com/api/?key="+API_KEY+"&q="+encodeURIComponent(document.getElementById("mesa_nombre").value);
        $.getJSON(URL, function(data){
        if (parseInt(data.totalHits) > 0)
            $.each(data.hits, function(i, hit){
                selector.innerHTML = selector.innerHTML + "<option data-img-src=\"" + hit.webformatURL + "\"> </option>";
			});
        else
            selector.innerHTML = selector.innerHTML + "<option> No hay resultados </option>";
        });
        $('.image-picker').imagepicker();
    }
</script>